/*============================================================================
  VIDEO LIST ITEM WRAPPER
==============================================================================*/
.video-list-item-wrapper {
  position: relative;
  display: block;
  padding: 15px;
  background-color: #282828;
  cursor: pointer;
}
.video-list-item-wrapper:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video-list-item-wrapper:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.video-list-item-wrapper:hover {
  background-color: #383838;
}

/*============================================================================
  VIDEO LIST ITEM
==============================================================================*/
.video-list-item {
  display: flex;
  color: #a0a0a0;
  padding-left: 10px;
  padding-right: 10px;
}
.video-list-item img {
  max-width: 170px;
}
.video-list-item:first-child {
  margin-top: 0;
}
.video-list-item__thumbnail {
  flex-basis: 45%;
  flex-shrink: 0;
  align-self: center;
  position: relative;
}
.video-list-item__info {
  flex: 1;
  align-self: center;
  float: right;
  max-width: 60%;
  padding-left: 15px;
}
