/*============================================================================
  VIDEO LIST ITEM WRAPPER
==============================================================================*/
.video-list-item-wrapper {
  position: relative;
  display: block;
  padding: 15px;
  background-color: #282828;
  cursor: pointer;
}
.video-list-item-wrapper:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video-list-item-wrapper:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.video-list-item-wrapper:hover {
  background-color: #383838;
}

/*============================================================================
  VIDEO LIST ITEM
==============================================================================*/
.video-list-item {
  display: flex;
  color: #a0a0a0;
  padding-left: 5px;
  padding-right: 5px;
}
.video-list-item img {
  max-width: 155px;
}
.video-list-item:first-child {
  margin-top: 0;
}
.video-list-item__thumbnail {
  flex-basis: 45%;
  flex-shrink: 0;
  align-self: center;
  position: relative;
}
.video-list-item__info {
  flex: 1;
  align-self: center;
  float: right;
  max-width: 70%;
  padding-left: 15px;
}
.video-list-item__title {
  color: #ffffff;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;  /* Credit to David DeSandro for line clamping effect:  http://dropshado.ws/post/1015351370/webkit-line-clamp */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video-list-item__username {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 15px;
}
.video-list-item__username span {
  color: #a0a0a0;
  font-family: Garamond;
  font-style: italic;
  font-size: 16px;
}

/*============================================================================
  VIDEO LIST ITEM STATS
==============================================================================*/
.video-list-item__stats {
  color: #ffffff;
  font-size: 11px;
}
.video-list-item__stats-plays,
.video-list-item__stats-likes,
.video-list-item__stats-comments {
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding-left: 5px;
}
.video-list-item__stats .fa-icon {
  color: #a0a0a0;
  font-size: 13px;
  opacity: 0.85;
}
