.video-list {
  flex: 1;
  max-width: 450px;
  height: 100%;
  margin-bottom: 20px;
  opacity: 0.8;
}
.video-list__header {
  text-align: center;
  border-radius: 5px;
  padding-bottom: 15px;
}
.video-list__header-main {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 10px 15px 10px;
  display: flex;
  justify-content: center;
}
.video-list__header-main span {
  padding-left: 15px;
  padding-right: 15px;
}
.video-list__header-sub {
  font-family: Garamond;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding-bottom: 10px;
}
.video-list__list-items {
  height: 1000px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.divider {
  width: 100px;
  height: 0;
  border-top: 1px dotted #ffffff;
  font-size: 0;
  justify-content: center;
  margin-top: 8px;
}
