.video-main {
  margin-right: 20px;
  flex: 2;
}

/*============================================================================
  VIDEO PLAYER
==============================================================================*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/*============================================================================
  VIDEO CONTENT
==============================================================================*/
.video-content {
  background-color: #282828;
  opacity: 0.8;
  margin-top: 20px;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
}
.video-info {
  color: #a0a0a0;
  margin-bottom: 40px;
}
.video-info__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
.video-info__user-icon img {
  border-radius: 100%;
  position: relative;
  float: left;
  margin-right: 5px;
}
.video-info__user-info {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
}
.video-info__username {
  padding-bottom: 7px;
}
.video-info__user-info span {
  font-family: Garamond;
  font-style: italic;
  font-size: 18px;
  color: #a0a0a0;
}
.video-info__stats {
  display: inline-block;
  float: right;
}
.video-description {
  color: #a0a0a0;
}
